[Unit]
Description=AppDaemon
After=home-assistant@homeassistant.service
[Service]
Type=simple
User=homeassistant
WorkingDirectory=/home/homeassistant/.homeassistant/python_scripts
ExecStart=/srv/homeassistant/bin/appdaemon -c /home/homeassistant/.homeassistant/python_scripts/appdaemon
[Install]
WantedBy=multi-user.target
