[Unit]
Description=MQTT v3.1.1 message broker
After=network.target
Requires=network.target
 
[Service]
Type=simple
ExecStart=/usr/sbin/mosquitto -c /etc/mosquitto/conf.d/broker.conf
Restart=always
 
[Install]
WantedBy=multi-user.target
